body {
    margin: 10px auto;
    width: 40%;
    font-size: 16px;
    font-family: 'Merriweather'
}

nav ul, footer ul {
    font-family: 'Arial', Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #7c6992;
}

a:hover {
    text-decoration: underline;
    color: #00859B;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    /*font-size: .8em;*/
}

p.footer {
    font-family: Arial
    line-height: 1.4em;
    color: #999;
    font-weight: bold;
    font-size: .8em;
}

/* Blog Posts */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Arial';
}

ul.posts li {
    list-style: none;
}

a.post-link {
    text-decoration: none;
    color: #68AC2C;
}

a.post-link:hover {
    text-decoration: underline;
    color: #00859B;
}

/* Wrapper */
.wrapper {
    margin-right: auto;
    margin-left: auto;
}

/* Site header */
.site-header {
    border-top: 5px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 28px;
    font-family:'Arial';
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #999;
}

nav {
    float:right;
}

a.site-nav {
    text-decoration: none;
    color: #999;
}

a.site-nav:hover {
    text-decoration: underline;
}
