body {
    margin: 10px auto;
    width: 50%;
    font-size: 12px;
    font-family: 'Arial'
}

nav ul, footer ul {
    font-family: 'Arial', Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #7c6992;
}

a:hover {
    text-decoration: underline;
    color: #00859B;
}

h1 {
    /*font-size: 3em;*/
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 12px;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}

footer {
    border-top: 1px solid #d5d5d5;
    /*min-height: 56px;*/
    /*font-size: .8em;*/
    position: relative;
}

p.footer {
    font-family: Arial
    line-height: 1.4em;
    color: #999;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
}

p.header {
    font-family: Arial
    line-height: 1.4em;
    color: #7c6992;
    /*font-weight: bold;*/
    font-size: .8em;
    text-align: center;
}

/* Blog Posts */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Arial';
}

ul.posts li {
    list-style: none;
}

a.post-link {
    text-decoration: none;
    color: #68AC2C;
}

a.post-link:hover {
    text-decoration: underline;
    color: #00859B;
}

/* Wrapper */
.wrapper {
    margin-right: auto;
    margin-left: auto;
}

/* Site header */
.site-header {
    border-top: 5px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 28px;
    font-family:'Arial';
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding-left: 0px/*5px !important*/;
    padding-right: 5px !important;
    color: #999;
}

nav {
    float:right;
}

a.site-nav {
    font-size: 16px;
    text-decoration: none;
    color: #999;
}

a.site-nav:hover {
    text-decoration: underline;
}

/* sizes */
/*#main-wrap > div { min-height: 450px; }*/

/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
	padding: 20px 0px 20px 0px;
}

#sidebar {
    float: left;
    width: 30%;
	border: 1px dashed #d5d5d5;
}

#sidebar-right {
    float: right;
    width: 30%;
	border: 1px dashed #d5d5d5;
}

#content-wrap {
    float: right;
    width: 65%;
	border: 1px dashed #d5d5d5
}  

#content-wrap-left {
    float: left;
    width: 65%;
	border: 1px dashed #d5d5d5
} 

#content-wrap-full {
    float: left;
    width: 100%;
	border: 1px dashed #d5d5d5
} 

#post-wrap {
    float: left;
    width: 100%;
}

#tabs {float:left;
			width: 90%;
			margin-left:20px;
			text-align: right;
			/*margin-top:-32px;*/
		}
		#tablist {
			padding: 3px 0;
			font: bold 12px Verdana;
			/*border-bottom: 2px solid #c60000;*/
		}
		#tablist li {
			list-style: none;
			display: inline;
		}
		#tablist li a {
			text-decoration: none;
			padding: 3px 4px;
			margin: 0 3px 0 0;
			border: 2px solid #777788;
			-moz-border-radius-topright: 10px;
			border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			border-top-left-radius: 10px;
			border-bottom: 2px solid grey;
			background: white;
		}
		#tablist li a:link, #tablist li a:visited {
			color: #444488;
		}
		#tablist li a:hover {
			color: #000000;
			background: #AAAAEE;
			border-color: #222277;
		}
		#tablist li a.current {
			background: white;
			border: 2px solid grey;
			border-bottom: none;
		} 
#tabsmain
{
	background-color:white;
	margin-top: 25px;
	/*margin-left: 20px;
   	margin-right: 200px;*/
   	padding: 10px;
	border:2px dashed #c60000;
}		