body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    text-color: #7c6992;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

nav {
    float:right;
}

/*header {
    border-bottom: 1px solid #d5d5d5;
}*/

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Arial';
}

ul.posts li {
    list-style: none;
}

/**
 * Wrapper
 */
.wrapper {
    /*max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));*/
    margin-right: auto;
    margin-left: auto;
    /*padding-right: $spacing-unit;
    padding-left: $spacing-unit;*/
    /*@extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }*/
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 28px;
    font-family:'Arial';
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
