---
layout: default
title: Projects
category: project
---
<div class="blurb">
        		<h1>Projects list</h1>
			
				<p>Things I'm working on ...</p>
    		</div><!-- /.blurb -->
<h1> </h1>
<ul class="posts">
  {% for post in site.posts %}
  	{% if post.categories contains 'project' %}
    		{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    		{% unless year == this_year %}
      			{% assign year = this_year %}
      			<h3>{{ year }}</h3>
    		{% endunless %}
    			<li>
      				<p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      				&nbsp; started on <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span></p>
    			</li>
    			<h2> </h2>
    	{% endif %}
  {% endfor %}
</ul>
