<footer>
  <center>
  <ul>
    <li><a href="/ScottDenholm/contact"><img src="/img/contactlogo.png" alt="contact scottaku" width="32" height="32" border="0"></a></li>
    <li><a href="https://github.com/sjdenholm"><img src="/img/github.png" alt="github" width="32" height="32" border="0"></a></li>
    <li><a href="https://twitter.com/scottdenholm"><img src="/img/twitter.png" alt="twitter" width="32" height="32" border="0"></a></li>
    <li><a href="https://uk.linkedin.com/in/scott-denholm-89b006b9"><img src="/img/inlogo.png" alt="linkedin" width="32" height="32" border="0"></a></li>
    <li><a href="{{ site.baseurl }}/"><img src="/img/8bitscott.png" alt="scottaku" width="40" height="40" border="0"></a></li>
    <!--<li><a href="/about"><img src="/img/question.png" alt="about scottaku" width="32" height="32" border="0"></a></li>-->
  </ul>
  <p class="footer">&copy; sjdenholm 2016</p>
  </center>
</footer>