<footer>
  <center>
  <ul>
    <li><a href="/ScottDenholm/contact"><img src="/img/contactlogo.png" alt="contact scottaku" width="32" height="32" border="0"></a></li>
	<li><a href="http://orcid.org/0000-0002-6291-8269" target="_blank"><img src="/img/orcid_32x32.png" alt="orcid" width="32" height="32" border="0"></a></li>
	<li><a href="https://scholar.google.co.uk/citations?hl=en&user=mOwKHxQAAAAJ&view_op=list_works" target="_blank"><img src="/img/gslogo.png" alt="google scholar" width="32" height="32" border="0"></a></li>
	<li><a href="https://www.researchgate.net/profile/Scott_Denholm" target="_blank"><img src="/img/rglogo.png" alt="researchgate" width="32" height="32" border="0"></a></li>
    <li><a href="https://github.com/sjdenholm" target="_blank"><img src="/img/github.png" alt="github" width="32" height="32" border="0"></a></li>
    <li><a href="https://twitter.com/scottdenholm" target="_blank"><img src="/img/twitter.png" alt="twitter" width="32" height="32" border="0"></a></li>
    <li><a href="https://uk.linkedin.com/in/scott-denholm-89b006b9" target="_blank"><img src="/img/inlogo.png" alt="linkedin" width="32" height="32" border="0"></a></li>
    <li><a href="{{ site.baseurl }}/"><img src="/img/8bitscott.png" alt="scottaku" width="42" height="42" border="0"></a></li>
    <!--<li><a href="/about"><img src="/img/question.png" alt="about scottaku" width="32" height="32" border="0"></a></li>-->
  </ul>
  <p class="footer">&copy; sjdenholm 2016</p>
  </center>
</footer>