<header class="site-header">

  <!--<div class="wrapper">-->

    <a class="site-title" href="/ScottDenholm">Scott Denholm </a> <font size="1"><i>BSc. (Hons), PhD., R. Anim. Sci.<i></font>

    <nav>
      
      <ul>
        
        <!--<li><a href="/">home</a></li>-->
        <li><a class="site-nav" href="/ScottDenholm/research">research</a></li>
        <li><a class="site-nav" href="/ScottDenholm/cv">cv</a></li>
        <li><a class="site-nav" href="/ScottDenholm/publications">publications</a></li>
        
      </ul>
      
    </nav>
    <!--<center>
    <p class="header"><i>otaku: (noun) a person who is obsessed with computers or particular aspects of popular culture to the detriment of their social skills</i></p>
    </center>-->
 <!-- </div>-->
  
</header>
