<header class="site-header">

  <!--<div class="wrapper">-->

    <a class="site-title" href="{{ site.baseurl }}/">Scottaku</a>

    <nav>
      
      <ul>
        
        <!--<li><a href="/">home</a></li>-->
        <li><a class="site-nav" href="/about">about</a></li>
        <li><a class="site-nav" href="/ScottDenholm/cv">cv</a></li>
        <li><a class="site-nav" href="/blog">blog</a></li>
        
      </ul>
      
    </nav>
    <center>
    <p class="header"><i>otaku: (noun) a person who is obsessed with computers or particular aspects of popular culture to the detriment of their social skills</i></p>
    </center>
 <!-- </div>-->
  
</header>
