<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul class="nav nav-pills pull-right">
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/cv">cv</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="contact.html">contact</a></li>
	        		<li><a href="https://github.com/sjdenholm">github</a></li>
	        		<li><a href="https://twitter.com/scottdenholm">twitter</a></li>
	        		<li><a href="https://uk.linkedin.com/in/scott-denholm-89b006b9">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
