<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }} | Scott Denholm </title>
			
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="Scott Denholm">
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!--<link rel="icon" href="" type="image/x-icon" />
			<link rel="shortcut icon" href="" type="image/x-icon" />-->
			
		</head>
		<body>
			
			{% include headerSD.html %}
			
			<div id="main-wrap">
			
			
			{{ content }}
			
			
			</div><!-- /.container -->
			
			{% include footerSD.html %}
		
		</body>
	</html>
